services:
  mongo:
    image: mongo:8.0
    container_name: mongo
    command: ["mongod", "--port", "27019", "--bind_ip_all"]
    ports:
      - "27019:27019"
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./backend
    environment:
      - MONGODB_URI=mongodb://mongo:27019/velosync
    depends_on:
      - mongo
    ports:
      - "4000:4000"

  frontend:
    build: ./frontend
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  mongo-data:
